

/*-------------------------------------------------------------------------------------------*/
/* Custom Styles */
/*-------------------------------------------------------------------------------------------*/



.main-navigation,.main-navigation ul ul,
#ctimer span, .footer-widget-section, ol.comment-list li .reply {
	background: #008f7f;
}

 h2.section-title {
	color: #008f7f;
}

/* Links */
a {
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover,
a:focus,
a:active {
	color:#1ABC9C;
	text-decoration: none;
}
